@font-face {
  font-family: "NexaRegular";
  src: url("../src/assets/fonts/mainFonts/NEXA\ REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "NexaLight";
  src: url("../src/assets/fonts/mainFonts/NEXA-EXTRALIGHT.TTF")
    format("truetype");
}

@font-face {
  font-family: "NexaHeavy";
  src: url("../src/assets/fonts/mainFonts/NEXA-HEAVY.TTF") format("opentype");
}

body {
  background-color: #ffffff;
  font-family: "NexaRegular", Arial, Helvetica, sans-serif;
}
